input{
    display: none;
}
h1 {
    margin: 5% 10%;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}
.accordion {
    margin: 5% 10%;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
    background-color: rgb(235, 234, 234);
    cursor: pointer;
    color: rgb(150, 48, 1);
}

.accordion:hover{
    color: rgb(0, 0, 0);
}

.accordion:hover > label::after {
    content: '\276F';
    float: right;
}

.container {
    width: 100%;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    height: 0;
    line-height: 18px;
    transition: padding 0.5s;
    background-color: rgb(209, 209, 209);
}

label {
    width: 97%;
    display: block;
    cursor: pointer;
    font-size: 1.3em;
    padding: 10px 20px;
    transition: padding 0.5s;    
    background-color: rgb(205, 231, 209);
}
label:hover {
    font-weight: bold;
}
label:hover + .container {
    height: auto;
}

input:checked + label {
    font-weight: bold;
}

label::after {
    content: '';    
}

input:checked + label::after {
    transition: transform 0.5s;
    transform: rotate(90deg);
}
input:checked + label + .container {
    height: auto;
}
