html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow:  hidden;
}
img{
    width: 50%;
    height: 50%;
}
h1 {
    color: black !important;
    margin: 1%;
}
.meme-text {
    display: inline-block;
    width: 95%;
}
.meme-icon {
    display: inline-block;
    margin-right: 0.5em;
    opacity: 0;
    color: black !important;
    transform: rotate(0deg);
    transition: all 0.5s ease;
}

input{
    display: none;
}
input:checked + label {
    color: #000;
    font-weight: bold;
}
input:checked + label > .meme-icon {
    transform: rotate(90deg);
}
input:checked + label > .container {
    height: auto;
    max-height: 50em;
    opacity: 1;
}

.accordion {
    display: block;
    max-width: 40rem;
    margin: auto;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    color: rgb(0, 180, 255);
}
.accordion:hover,
.accordion:hover > label > .meme-icon {
    color: rgb(150, 150, 150);
    opacity: 1;    
}

.container {
    overflow: hidden;
    text-align: center;
    height: 0;
    max-height: 0;
    opacity: 0.5;
    transition: all 2s ease;
}

label {
    display: block;
    cursor: pointer;
    font-size: 1.3em;
    padding: 0.7em 0.7em;
    transition: all 0.5s;
}
label:hover,
label:hover > .container {
    color: #000;
    height: auto;
    max-height: 50rem;
    opacity: 1;
}
label:hover > .meme-icon{
    transform: rotate(90deg);
}
label:active {
    opacity: 0.5;
    transform: scale(1.03);
}